<h2>Detalhes da empresa</h2>

<span nz-typography nzType="secondary">
  Agora precisamos de algumas informações sobre a sua empresa.
</span>

<mb-dynamic-form [config]="formConfig" />

<nz-flex nzGap="small" nzJustify="center">
  <button nz-button nzType="primary" [routerLink]="['/subscription', 'admin']">
    <i nz-icon nzType="arrow-left"></i>
    Etapa anterior
  </button>
  <button nz-button nzType="primary" (click)="submit()">
    Criar conta
    <i nz-icon nzType="arrow-right"></i>
  </button>
</nz-flex>
